<?xml version="1.0"?><configuration>
  <appSettings>
    <!--    <add key="ConnectionString" value="Data Source=10.25.35.103/sirdb.prod;User Id=csyba;Password=csy"/>-->
    <add key="ConnectionString" value="Data Source=SIRDB6; User Id=csyba;Password=csy"/>
    <add key="Server" value="LOCALHOST"/>
    <add key="ApplicationName" value="Engie Servizi s.p.a. SIR-UNIBA"/>
    <add key="ApplicationDeveloper" value=""/>
    <add key="edi_cod" value="6"/>
    <!--valore minimo del codice dell'edificio deve essere un valore numerico-->
    <!--  SETTAGGI PER L'INVIO DELLE MAIL   -->
    <add key="SmtpServer" value="smtp.cofasir.it"/>
    <add key="SmtpServer2" value="smtp.cofasir.it"/>
    <add key="MailFrom" value="sir@cofasir.it"/>
    <add key="usersmtp" value="sir@cofasir.it"/>
    <add key="pwdsmtp" value="cofasir"/>
    <!--FINE SETTAGGI PER L'INVIO DELLE MAIL-->
    <add key="PathDocAllegatiEQ" value="../EQAllegati"/>
    <add key="DirectoryStampa" value="..\Stampe\"/>
    <add key="DirectoryStampaCostoGestione" value="..\Stampe\CostoGestioneCumulativo\"/>
    <add key="SourceReports" value="\Report\"/>
    <add key="ImmaginiEq" value="\EQImages\"/>
    <!--Link help -->
    <add key="LinkHelp" value="../HelpApplication/Default.aspx?page="/>
    <add key="DirectoryCad" value="/webcad/CadFile/"/>
    <add key="NomeFileStatistiche" value="FileWebStat/statisticheWeb"/>

    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>

  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
      
       <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
          
  -->


  <system.web>
    <httpModules>
      <add name="IHttpModuleGS" type="GStazioniIHttpModule.IHttpModuleGS, GStazioniIHttpModule"/>
      <add name="AutenticationSecurity" type="ApplicationSecurity.AutenticationSecurity, ApplicationSecurity"/>
    </httpModules>
    <httpRuntime executionTimeout="900" maxRequestLength="10000000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>
    <!--  COMPILAZIONE CON DEBUG DINAMICO
          Impostare compilation debug="true" per attivare il debug ASPX. In caso contrario, impostando tale valore su
          false si otterrà un incremento delle prestazioni di runtime dell'applicazione. 
          Impostare compilation debug="true" per inserire i simboli di debug (informazioni .pdb)
          nella pagina compilata. Poiché questo comporta la creazione di un file più grande e più lento da eseguire,
          si consiglia di impostare il valore true solo durante il debug e di usare
          false in tutti gli altri casi. Per ulteriori informazioni, vedere la documentazione relativa
          al debug dei file ASP.NET.
    -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.5.2">
      <assemblies>
        <!--<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <!--<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ReportDefModel, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <!--<add assembly="CrystalDecisions.ReportAppServer.CommLayer, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <!--<add assembly="CrystalDecisions.ReportAppServer.CommLayer, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
      </assemblies>
    </compilation>
    <!--  MESSAGGI DI ERRORE PERSONALIZZATI
          Per abilitare l'utilizzo dei messaggi di errore personalizzati, impostare customErrors mode="On" o "RemoteOnly". Per disabilitare questa funzione, impostare "Off" . 
          Aggiungere un tag <error> per ciascun errore da gestire.

          "On" visualizza sempre messaggi descrittivi personalizzati.
          "Off" visualizza sempre informazioni dettagliate sugli errori ASP.NET.
          "RemoteOnly" visualizza messaggi descrittivi personalizzati solo a utenti che non eseguono applicazioni 
           sul server Web locale. Questa impostazione è consigliata per motivi di sicurezza, 
           poiché evita di visualizzare sui client remoti informazioni dettagliate sull'applicazione.
    -->
    <customErrors mode="Off" defaultRedirect="ErrorPage.aspx"/>
    <!--  AUTENTICAZIONE 
          Questa sezione imposta i criteri di autenticazione dell'applicazione. Le modalità supportate sono "Windows", 
          "Forms", "Passport" e "None"

          "None" Non viene eseguita alcuna autenticazione. 
          "Windows" L'autenticazione viene eseguita da IIS (di base, classificata o integrata Windows) in base alle 
           impostazioni relative all'applicazione. L'accesso anonimo deve essere disattivato in IIS. 
          "Forms" Agli utenti viene fornito un form personalizzato (pagina Web) in cui immettere le proprie credenziali, per 
           consentirne l'autenticazione nell'applicazione. Un token di credenziali di ogni utente viene memorizzato in un cookie.
          "Passport" L'autenticazione viene eseguita tramite un servizio di autenticazione centralizzato
           Microsoft che offre una singola procedura di accesso e servizi di profilo di base per i siti membri.
    -->
    <authentication mode="Forms">
      <forms name="UNIBARuoli" loginUrl="login.aspx" protection="All" path="/"/>
    </authentication>
    <!--  AUTORIZZAZIONE 
          Questa sezione imposta i criteri di autorizzazione dell'applicazione. È possibile consentire o negare l'accesso
          alle risorse dell'applicazione in base all'utente o al ruolo. Il carattere jolly "*" indica tutti gli utenti, mentre "?" indica gli utenti anonimi 
          (non autenticati).
    -->
    <authorization>
      <deny users="?"/>
      <!-- Operazioni consentite a tutti gli utenti -->
      <!--  <allow     users="[elenco di utenti separati da virgole]"
                             roles="[elenco di ruoli separati da virgole]"/>
                  <deny      users="[elenco di utenti separati da virgole]"
                             roles="[elenco di ruoli separati da virgole]"/>
            -->
    </authorization>
    <!--  REGISTRAZIONE ANALISI A LIVELLO DI APPLICAZIONE
          L'analisi a livello di applicazione permette di registrare l'output dell'analisi per ogni singola pagina dell'applicazione. 
          Per abilitare la registrazione dell'analisi a livello di applicazione, impostare trace enabled="true". Se pageOutput="true",
          le informazioni fornite dell'analisi verranno visualizzate in fondo a ogni pagina. In caso contrario, per vedere
          la registrazione dell'analisi sarà necessario aprire nel browser la pagina "trace.axd",
          che si trova nella radice dell'applicazione Web. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  IMPOSTAZIONI RELATIVE ALLO STATO DI SESSIONE
          In base all'impostazione predefinita, ASP.NET utilizza i cookie per identificare la sessione a cui appartengono le richieste. 
          Se i cookie non sono disponibili, è possibile aggiungere un identificatore di sessione all'URL. 
          Per disabilitare i cookie, impostare sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="60"/>
    <!--  GLOBALIZZAZIONE
          Questa sezione specifica le impostazioni di globalizzazione dell'applicazione. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="it-IT" uiCulture="it-IT" fileEncoding="utf-8"/>
    <mobileControls cookielessDataDictionaryType="System.Web.Mobile.CookielessData"/>
    <deviceFilters>
      <filter name="isJPhone" compare="Type" argument="J-Phone"/>
      <filter name="isHTML32" compare="PreferredRenderingType" argument="html32"/>
      <filter name="isWML11" compare="PreferredRenderingType" argument="wml11"/>
      <filter name="isCHTML10" compare="PreferredRenderingType" argument="chtml10"/>
      <filter name="isGoAmerica" compare="Browser" argument="Go.Web"/>
      <filter name="isMME" compare="Browser" argument="Microsoft Mobile Explorer"/>
      <filter name="isMyPalm" compare="Browser" argument="MyPalm"/>
      <filter name="isPocketIE" compare="Browser" argument="Pocket IE"/>
      <filter name="isUP3x" compare="Type" argument="Phone.com 3.x Browser"/>
      <filter name="isUP4x" compare="Type" argument="Phone.com 4.x Browser"/>
      <filter name="isEricssonR380" compare="Type" argument="Ericsson R380"/>
      <filter name="isNokia7110" compare="Type" argument="Nokia 7110"/>
      <filter name="prefersGIF" compare="PreferredImageMIME" argument="image/gif"/>
      <filter name="prefersWBMP" compare="PreferredImageMIME" argument="image/vnd.wap.wbmp"/>
      <filter name="supportsColor" compare="IsColor" argument="true"/>
      <filter name="supportsCookies" compare="Cookies" argument="true"/>
      <filter name="supportsJavaScript" compare="Javascript" argument="true"/>
      <filter name="supportsVoiceCalls" compare="CanInitiateVoiceCall" argument="true"/>
    </deviceFilters>
    <browserCaps>
      <!-- GECKO Based Browsers (Netscape 6+, Mozilla/Firefox, ...) //-->
      <case match="^Mozilla/5\.0 \([^)]*\) (Gecko/[-\d]+)(?'VendorProductToken' (?'type'[^/\d]*)([\d]*)/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)))?">
        browser=Gecko
        <filter>
          <case match="(Gecko/[-\d]+)(?'VendorProductToken' (?'type'[^/\d]*)([\d]*)/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)))">
            type=${type}
          </case>
          <case>
            <!-- plain Mozilla if no VendorProductToken found -->
            type=Mozilla
          </case>
        </filter>
        frames=true
        tables=true
        cookies=true
        javascript=true
        javaapplets=true
        ecmascriptversion=1.5
        w3cdomversion=1.0
        css1=true
        css2=true
        xml=true
        tagwriter=System.Web.UI.HtmlTextWriter
        <case match="rv:(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*))">
          version=${version}
          majorversion=0${major}
          minorversion=0${minor}
          <case match="^b" with="${letters}">
            beta=true
          </case>
        </case>
      </case>
      <!-- AppleWebKit Based Browsers (Safari...) //-->
      <case match="AppleWebKit/(?'version'(?'major'\d?)(?'minor'\d{2})(?'letters'\w*)?)">
        browser=AppleWebKit
        version=${version}
        majorversion=0${major}
        minorversion=0.${minor}
        frames=true
        tables=true
        cookies=true
        javascript=true
        javaapplets=true
        ecmascriptversion=1.5
        w3cdomversion=1.0
        css1=true
        css2=true
        xml=true
        tagwriter=System.Web.UI.HtmlTextWriter
        <case match="AppleWebKit/(?'version'(?'major'\d)(?'minor'\d+)(?'letters'\w*))(.* )?(?'type'[^/\d]*)/.*( |$)">
          type=${type}
        </case>
      </case>
      <!-- Konqueror //-->
      <case match=".+[K|k]onqueror/(?'version'(?'major'\d+)(?'minor'(\.[\d])*)(?'letters'[^;]*));\s+(?'platform'[^;\)]*)(;|\))">
        browser=Konqueror
        version=${version}
        majorversion=0${major}
        minorversion=0${minor}
        platform=${platform}
        type=Konqueror
        frames=true
        tables=true
        cookies=true
        javascript=true
        javaapplets=true
        ecmascriptversion=1.5
        w3cdomversion=1.0
        css1=true
        css2=true
        xml=true
        tagwriter=System.Web.UI.HtmlTextWriter
      </case>
      <!-- Opera //-->
      <case match="Opera[ /](?'version'(?'major'\d+)(?'minor'\.(?'minorint'\d+))(?'letters'\w*))">
        <filter match="[7-9]" with="${major}">
          tagwriter=System.Web.UI.HtmlTextWriter
        </filter>
        <filter>
          <case match="7" with="${major}">
            <filter>
              <case match="[5-9]" with="${minorint}">
                ecmascriptversion=1.5
              </case>
              <case>
                ecmascriptversion=1.4
              </case>
            </filter>
          </case>
          <case match="[8-9]" with="${major}">
            ecmascriptversion=1.5
          </case>
        </filter>
      </case>
    </browserCaps>
    <xhtmlConformance mode="Legacy"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  <httpHandlers><add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></httpHandlers></system.web>
  <location path="LoginMobile.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  <handlers><add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/></handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>